<!DOCTYPE html>
<html>
    <head>
        <title> MENU </title>
        <link rel ="stylesheet" type= "text/css" href = "css/homepage.css">
    </head>
    <body>
        <nav class ="nav">
            <ul class = "menu">
                <li class ="menu_item"><a href= "">Home</a></li>
                <li class ="menu_item"><a href= "#">Events</a>
                    <ul class ="submenu">
                       <li class="submenu_item"><a href="https://8b198c22a6ad40ccab545e0e0d546bde.vfs.cloud9.us-east-2.amazonaws.com/activities/new">Add Event</a></li>
                       <li class="submenu_item"><a href="https://8b198c22a6ad40ccab545e0e0d546bde.vfs.cloud9.us-east-2.amazonaws.com/activities">View Events</a></li>
                    </ul>
                </li>
                <li class ="menu_item"><a href= "/calendar/show">Full Schedule</a></li>
            </ul>
         </nav>
    </body>
</html>
     
   
        
   
    <body>
        <br><br><br><br>
        <div class = "container">
            <div class ="month">
                <strong> April </strong>
                <br>
                <br>
                <strong> 2019 </strong>
            </div>
            <table>
                <tr>
                    <th> Sun</th>
                    <th> Mon</th>
                    <th> Tue</th>
                    <th> Wed</th>
                    <th> Thu</th>
                    <th> Fri</th>
                    <th> Sat</th>
                </tr>
                <tr>
                    <td></td>
                    <td><a href= "https://8b198c22a6ad40ccab545e0e0d546bde.vfs.cloud9.us-east-2.amazonaws.com/days/new">1</a></td>
                    <td><a href= "https://8b198c22a6ad40ccab545e0e0d546bde.vfs.cloud9.us-east-2.amazonaws.com/days/new">2</a></td>                    
                    <td><a href= "https://8b198c22a6ad40ccab545e0e0d546bde.vfs.cloud9.us-east-2.amazonaws.com/days/new">3</a></td>
                    <td><a href= "https://8b198c22a6ad40ccab545e0e0d546bde.vfs.cloud9.us-east-2.amazonaws.com/days/new">4</a></td>
                    <td><a href= "https://8b198c22a6ad40ccab545e0e0d546bde.vfs.cloud9.us-east-2.amazonaws.com/days/new">5</a></td>
                    <td><a href= "https://8b198c22a6ad40ccab545e0e0d546bde.vfs.cloud9.us-east-2.amazonaws.com/days/new">6</a></td>
                </tr>
                
                  <tr>
                    <td><a href= "https://8b198c22a6ad40ccab545e0e0d546bde.vfs.cloud9.us-east-2.amazonaws.com/days/new">7</a></td>
                    <td><a href= "https://8b198c22a6ad40ccab545e0e0d546bde.vfs.cloud9.us-east-2.amazonaws.com/days/new">8</a></td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                </tr>
                
                <tr>
                    <td>14</td>
                    <td>15</td>
                    <td>16</td>
                    <td>17</td>
                    <td>18</td>
                    <td>19</td>
                    <td>20</td>
                </tr>
                
                <tr>
                    <td>21</td>
                    <td>22</td>
                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                    <td>26</td>
                    <td>27</td>
                </tr>
                
                <tr>
                    <td>28</td>
                    <td>29</td>
                    <td>30</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            
            </div>
    </body>
</html>