<h1>Edit Day</h1>
<link rel ="stylesheet" type= "text/css" href = "css/homepage.css">

<%= form_with model: @day do |form| %>
<p>Title: <%=form.text_field :title %></p>
<p>Text:  <%= form.text_field :text %></p>
<%= form.submit %>

<% end %>