<link rel ="stylesheet" type= "text/css" href = "css/new_activity.css">
<h1>List of Days</h1>
<ul><% @days.each do |day| %>
  <li>
   <tr>
     <td><%= day.title %></td>
     <td><%= day.text %></td>
     <td><%= link_to 'Edit', edit_day_path(day) %></td>
   </tr>
  <% end %></li>
</ul>

<div><%= link_to 'Create Day', new_day_path %></div>
